<html>
    <head>
<style>
    .main{
    width: 600px;
    margin: 5em auto;
    padding: 2em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
body{
    background-color: #F0F0F2;
  
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.p_text{
    margin-top:-25px;
}
        
    
</style>
    </head>
  <body>
    <div class="main">
    <div>
        <h1>{{main_text}}</h1></br>
        <p class="p_text"> {{text}}</p>
        <a href="https://www.iana.org/domains/example" previewlistener="true">More information...</a>
    </div>
    </div>
  </body>
</html>
